/* general */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin:auto;
}
/* /general */

/* header */
header{
  height: 100px;
  background-color: pink;
  margin-bottom: 10px;
}
/* /header */

/* corpo principale */
.jumbotron{
  height: 80vh;
  background-color: yellow;
  margin-bottom: 10px;
}

.main-section{
  height: 80vh;
  background-color: blue;
}

.top-title{
  height:10%;
  background-color: lightblue;
  margin-bottom: 2%;
}

.column{
  background-color: lightblue;
}

.column.left{
  height: 82%;
  width: 25%;
  float:left;
}

.column.center{
  height: 82%;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  float:left;
}

.column.right{
  height: 82%;
  width: 25%;
  float:left;
}
/* /corpo principale */
